{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}

{% if article.keywords%}
  <meta name="keywords" contents="{{article.keywords}}"/>
{% endif %}

{% if article.description %}
  <meta name="description" contents="{{article.description}}"/>
{% endif %}

{% for tag in article.tags %}
  <meta name="tags" contents="{{tag}}"/>
{% endfor %}
  <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}" />

{{ super() }}

{% endblock %}



{% block content %}
<section id="content" class="body col-md-8">
    {% block breadcrumb %}
    <ul class="post-info breadcrumb">
        <li><a href="/">Home</a></li>
        <li>
            <a href="/{{ article.category.url }}" title="{{ article.category }}" alt="{{ article.category }}">
                {{ article.category }}
            </a>
        </li>
        <li class="active">
            {{ article.locale_date }}
        </li>
    </ul>
    {% endblock breadcrumb %}
    <!-- /.post-info -->

    <header>
        <h4 class="entry-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
               title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h4>
    </header>

    <div class="entry-content">
        {{ article.content }}
    </div>
    <!-- /.entry-content -->
    <div class="asset-footer panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">版权声明：<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">自由转载-非商用-非衍生-保持署名</a>
            </h3>
        </div>
        <div class="panel-body">
            原文网址：<a href="{{ SITEURL }}/{{ article.url }}">{{ SITEURL }}/{{ article.url }}</a>
        </div>
    </div>
    <div class="end-article">- END -</div>
    <div class="neighbors">
        <ul class="pager">
            {% if article.prev_article %}
            <li class="prev">
                <a href="{{ SITEURL }}/{{ article.prev_article.url}}" rel="prev" title="prev post">
                    <i class="fa fa-chevron-left"></i> {{ article.prev_article.title }}
                </a>
            </li>
            {% else %}
            <li class="prev disabled">
                <a href="#">已经是第一篇</a>
            </li>
            {% endif %}
            {% if article.next_article %}
            <li class="next">
                <a href="{{ SITEURL }}/{{ article.next_article.url}}" rel="next" title="next post">
                    {{ article.next_article.title }} <i class="fa fa-chevron-right"></i>&nbsp;
                </a>
            </li>
            {% else %}
            <li class="next disabled">
                <a href="#">已经是最后一篇</a>
            </li>
            {% endif %}
        </ul>
        <div style="clear: both"></div>
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'rainy-im'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>

</section>
{% endblock %}
