<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Bootstrap core css -->
    <link rel="stylesheet" href="/theme/css/bootstrap-paper.min.css">
    <link rel="stylesheet" href="/theme/css/font-awesome.min.css">
    <link rel="stylesheet" href="/theme/css/style.css">

    <!-- Jquery before bootstrap.js -->
    <script src="/theme/js/jquery.min.js"></script>
    <script src="/theme/js/bootstrap.min.js"></script>
    {% endblock head %}
</head>

<body id="index">
<div class="container main-container">
    <div class="row main-row">
        <section id="side-bar" class="col-md-4">
            <ul class="name-card">
                <li>
                    <a href="https://github.com/rainy-im" title="My Github">
                        <img class="avatar" src="https://avatars0.githubusercontent.com/u/3953966?v=3&s=460"/>
                    </a>
                </li>
                <li class="name-card-name"><b>{{ AUTHOR }}</b></li>
                <li class="name-card-slogan"><i>Terefore I am.</i></li>
                <li class="divider"></li>
            </ul>
            <form class="side-search" onsubmit="return search()">
                <input id="search-query" type="text" class="form-control" placeholder="Search">
            </form>
            <ul class="nav nav-sidebar">
                <li><a href="/">Home</a></li>
                <li><a href="/archives.html">Archive</a></li>
                <li><a href="/categories.html">Category</a></li>
                <li><a href="/tags.html">Tags</a></li>
                <li><a href="">RSS</a></li>
            </ul>
            <ul class="sns">
                <li>
                    <a href="mailto:sniky.hack@gmail.com" title="email" class="fa fa-send"></a>
                </li>
                <li>
                    <a href="http://weibo.com/myaplysia" title="Weibo" alt="Weibo" class="fa fa-weibo"></a>
                </li>
                <li>
                    <a href="https://github.com/rainy-im" title="Github" alt="Github" class="fa fa-github"></a>
                </li>
            </ul>
        </section>
        <!--left side-->
        <section class="col-md-8 col-sm-12 col-xs-12">
            {% block content %}
            {% endblock %}
        </section>
        <!--main content-->
    </div>
    <footer id="contentinfo">
        <p>
            Powered by <a href="http://getpelican.com/">Pelican</a>,
            Created by <a href="http://rainy.im">rainy.im</a>.
        </p>
    </footer>
</div>

<!-- /#contentinfo -->
<script type="text/javascript" src="/theme/js/main.js"></script>
</body>
</html>
