{% extends "base.html" %}
{% block content %}
<section id="content main-content" class="fa-col-md-8">
    {% block breadcrumb %}
    {% endblock breadcrumb %}
    <ol id="post-list" class="row">
        {% for article in articles_page.object_list %}
        <li class="article-list">
            <article class="hentry">
                <header>
                    <h5 class="entry-title">
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                           title="{{ article.title|striptags }}">{{
                            article.title }}</a>
                    </h5>
                </header>
                <footer class="post-info">
                    <div class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date
                        }}
                    </div>
                </footer>
                <!-- /.post-info -->
                <div class="entry-content"> {{ article.summary }}</div>
                <!-- /.entry-content -->
            </article>
        </li>
        {% endfor %}
    </ol>
    <!-- /#posts-list -->

    {% include 'pagination.html' %}
</section>
<!-- /#content -->
{% endblock content %}
