{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives {% endblock %}

{% block content %}
{% block breadcrumb %}
<ul class="am-breadcrumb am-breadcrumb-slash">
    <li><a href="/">Home</a></li>
    <li class="active">
        Archives
    </li>
</ul>
{% endblock breadcrumb %}
<dl class="archive-list">
    {% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    {% endfor %}
</dl>
{% endblock %}
