{% extends "base.html" %}

{% block content %}
   {% block breadcrumb %}
   {% endblock breadcrumb %}

    <ol id="post-list">
        {% for article in articles_page.object_list %}
        <li class="article-list">
            <article class="hentry">
                <header>
                    <h5 class="entry-title">
                        <a href="/{{ article.url }}" rel="bookmark"
                           title="{{ article.title|striptags }}">{{
                            article.title }}</a>
                    </h5>
                </header>
                <footer class="post-info">
                    <div class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date
                        }}
                    </div>
                </footer>
                <!-- /.post-info -->
                <div class="entry-content"> {{ article.summary }}</div>
                <!-- /.entry-content -->
            </article>
        </li>
        {% endfor %}
    </ol>
    <!-- /#posts-list -->

{% include 'pagination.html' %}
{% endblock content %}
