/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }

/* ------------------------------------------
  @font-face
---------------------------------------------*/
@font-face {
  font-family:'OpenSans';
    src:url('../fonts/OpenSans-Regular.eot');
    src:url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight:400;
  font-style:normal;
  }

@font-face {
  font-family:'OpenSans';
    src:url('../fonts/OpenSans-Italic.eot');
    src:url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Italic.woff') format('woff');
  font-weight:400;
  font-style:italic;
  }

@font-face {
  font-family:'OpenSans';
    src:url('../fonts/OpenSans-Bold.eot');
    src:url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight:700;
  font-style:normal;
  }

@font-face {
  font-family:'OpenSans';
    src:url('../fonts/OpenSans-BoldItalic.eot');
    src:url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff');
  font-weight:700;
  font-style:italic;
  }

html,
body,
textarea,
button,
input {
  font:16px/20px 'OpenSans', sans-serif;
}

html, body {
  background:#fff;
  color:#516066;
  -webkit-font-smoothing:antialiased;
  /*
    font: 16px/24px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
  */
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #0a6ebd;
}
a:hover, a:focus {
    text-decoration: none;
    color: #0c7cd5;
}
.main-container {
    margin: 60px auto;
    margin-bottom: 0px;
}
p > a > img {
    padding: 4px;
    line-height: 1.846;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.avatar {
    width: 100px;
    height: 100px;
    border: 4px solid #eee;
    border-radius: 80px;
}

ul.breadcrumb {
    cursor: pointer;
}

ul.post-info {
    color: #666;
    background: none;
    margin: 0px;
    padding: 0px;
}

ol#post-list {
    padding: 4px;
}

#side-bar {
    border-right: 1px solid #eee;
    color: #666;
    text-align: right;
}

ul.name-card {
    margin: 0 auto;
    padding: 0px;
}

ul.name-card li {
    margin: 12px 0px 10px 0px;
}

ul.name-card li.name-card-slogan {
    color: #aaa
}

form.side-search {
    width: 50%;
    margin-left: 50%;
    padding-bottom: 10px;
}

form.side-search input {
    text-align: right;
}

li.article-list {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    padding-top: 15px;
}

.paginator {
    text-align: center;
    margin-top: 120px;
}

ul.sns {
    margin-top: 8px;
}

ul.sns > li {
    float: right;
    padding: 5px;
}

ul.sns > li > a {
    font-size: 20px;
    color: #aaa;
}

ul.sns > li > a:hover {
    color: #666;
}

ul.category-list, ul.tag-list, dl.archive-list {
    margin-top: 20px;
    margin-left: 5px;
}

ul.tag-list > li {
    margin: 0px 4px;
}

.published {
    color: #bbb;
}

@media (min-width: 992px) {
    #side-bar > ul.nav-sidebar > li > a:hover {
        background: none;
        padding-right: 20px;
        border-right: 3px solid #2196f3;
    }
}

@media (max-width: 992px) {
    #side-bar {
        text-align: center;
        border: none;
    }

    #side-bar > form {
        margin: 0 auto;
        margin-bottom: 40px;
    }

    #side-bar > form > input {
        text-align: center;
    }

    #side-bar > ul.nav-sidebar, ul.sns {
        display: none;
    }

    #side-bar > ul.nav-sidebar > li {
        float: left;
    }

    #side-bar > ul.nav-sidebar > li > a {
        border-bottom: 3px solid #fff;
    }

    #side-bar > ul.nav-sidebar > li > a:hover {
        background: none;
        border-bottom: 3px solid #2196f3;
    }
}

@media (max-width: 768px) {
    div.asset-footer > div.panel-body {
        display: none;
    }
}

/* Codes */
pre {
    background-color: #fff;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 14px;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

}

div.asset-footer {
    margin-top: 40px;
}

div.end-article {
    text-align: right;
    padding: 20px;
    color: #db5e63;
    font-weight: 900;
    font-style: oblique;
}

div.neighbors > ul.pager > li.prev {
    float: left;
}

div.neighbors > ul.pager > li.next {
    float: right;
}
footer#contentinfo {
    margin-top: 240px;
    color: #aaa;
    text-align: center;
    font-size: 14px;
}


#content h1 {
  font-size:26px;
  margin:15px 0;
  line-height: 26px;
  }

#content h2 {
  font-size:22px;
  font-weight:700;
  margin:0 0 15px;
  padding:0;
  }

#content h3 {
  font-size:16px;
  font-weight:700;
  margin:10px 0 5px;
  }

#content h4,
#content h5,
#content h6 {
  font-size:14px;
  font-weight:700;
  margin:10px 0 5px;
  }
#content p,
#content span,
#content ul,
#content ol,
#content li {
  font-size:16px;
	line-height:1.5em;
  }
#content ol,
#content ul {
  margin:0 0 15px 30px;
  }
#content ol {
  list-style:decimal;
  }
#content ul {
  list-style:disc;
  }
#content blockquote {
	padding-left:19px;
  border-left:1px solid #a8afb2;
  font-style:italic;
  margin-bottom:20px;
  }

#content p {
  margin-bottom:15px;
  }


